
<div class="container">
  <h1><%= @list.name %></h1>
  <div>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-ghost" %>
    <%= link_to "Back to lists", lists_path, class: "btn btn-ghost" %>
  </div>
</div>


<div class="container">
  <div class="cards">
    <% @list.bookmarks.each do | bookmark |  %>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
            <p><strong><%= bookmark.comment %></strong>
             <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
